<section>
  <div style="margin-top:10rem; padding:100px;" class="container1">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">PRACTICAL RECORD</h2>

    <div style="text-align:left">
      <h4 style="margin-top:50px;">Name: {{studentData.fullname}}</h4>
      <h4>Class: {{studentData.class}}</h4>
      <h4>Division: {{studentData.division}}</h4>
      <h4>Roll No: {{studentData.Rollno}}</h4>

    </div>
    <table style="margin-top:50px; margin-bottom:7rem; text-align:left; " class="table table-bordered">

      <h3>Prayers</h3>
      <tr>
        <th scope="col">Fajr</th>
        <td>{{studentData.Fajr}}</td>
      </tr>

      <tr>
        <th style="text-align:left;" scope="col">Dhuhr</th>
        <td>{{studentData.Dhuhr}}</td>
      </tr>
      <tr>
        <th scope="col">Asr</th>
        <td>{{studentData.Asr}}</td>
      </tr>
      <tr>
        <th scope="col">Maghrib</th>
        <td>{{studentData.Maghrib}}</td>
      </tr>
      <tr>
        <th scope="col">Ishaa</th>
        <td>{{studentData.Ishaa}}</td>
      </tr>
    </table>

    <table style="margin-top:15px; margin-bottom:7rem;  text-align:left;" class="table table-bordered">
      <h3>Daily Activities</h3>
      <tr>
        <th scope="col">Thilavath</th>
        <td>{{studentData.Thilavath}}</td>
      </tr>

      <tr>
        <th scope="col">Hifdh</th>
        <td>{{studentData.Hifdh}}</td>
      </tr>

      <tr>
        <th scope="col">Sunnah Prayer</th>
        <td>{{studentData.SunnahPrayer}}</td>
      </tr>

      <tr>
        <th scope="col">Dhikr,Duas</th>
        <td>{{studentData.DhikrDuas}}</td>
      </tr>

      <tr>
        <th scope="col">Neat and Tidy</th>
        <td>{{studentData.NeatandTidy}}</td>
      </tr>

      <tr>
        <th scope="col">Friendship</th>
        <td>{{studentData.Friendship}}</td>
      </tr>
    </table>




    <table style="margin-top:15px; margin-bottom:7rem;text-align:left;" class="table table-bordered">
      <h3>Reading</h3>
      <tr>
        <th scope="col"> NewsPaper</th>
        <td>{{studentData.NewsPaper}}</td>
      </tr>
      <tr>
        <th scope="col">Childrens Publications</th>
        <td>{{studentData.ChildrensPublications}}</td>

      </tr>
      <tr>
        <th scope="col"> Library</th>
        <td>{{studentData.Library}}</td>
      </tr>



    </table>

    <table style="margin-top:50px; margin-bottom:7rem; text-align:left; " class="table table-bordered">

      <h3>Situations</h3>
      <tr>
        <th scope="col">My child makes salam when S(he) enters/ leaves home. </th>
        <td>{{studentData.Salam}}</td>
      </tr>

      <tr>
        <th style="text-align:left;" scope="col">My child performs daily salah without being reminded.</th>
        <td>{{studentData.Dailysalah}}</td>
      </tr>
      <tr>
        <th scope="col">My Child recites Quran on a daily basis.</th>
        <td>{{studentData.QuranRecitation}}</td>
      </tr>
      <tr>
        <th scope="col">My Child is obedient.</th>
        <td>{{studentData.Obidience}}</td>
      </tr>
      <tr>
        <th scope="col">My Child responds to Azaan ,if heard.</th>
        <td>{{studentData.RespondstoAzaan}}</td>
      </tr>

      <th scope="col">My Child keeps modesty in his/her dressing.</th>
      <td>{{studentData.ModestDressing}}</td>
      </tr>
      <th scope="col">My Child is much concerned about prayers when(s)he goes out.</th>
      <td>{{studentData.PrayersWhenGoesOut}}</td>
      </tr>
      <th scope="col">My Child learns additional hours to know islam more.</th>
      <td>{{studentData.KnowIslam}}</td>
      </tr>

      <th scope="col">My Child says Bismillah when starts something good/useful.</th>
      <td>{{studentData.Bismillah}}</td>
      </tr>
    </table>
</section>